In [52]:
import pandas as pd

In [53]:
df1 = pd.read_excel(r'C:\Users\Pravasis Dhakal\Desktop\project code gravity\CG Accommodation expense.xlsx')

In [54]:
df1

,APT,NEP/IND,2023-04-01 00:00:00,Unnamed: 3,Unnamed: 4,Unnamed: 5,2023-05-01 00:00:00,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 84,Unnamed: 85,2025-01-01 00:00:00,Unnamed: 87,Unnamed: 88,Unnamed: 89,2025-02-01 00:00:00,Unnamed: 91,Unnamed: 92,Unnamed: 93
0,NaN,NaN,Rent,Electricity,Internet,Atmos,Rent,Electricity,Internet,Atmos,...,Internet,Atmos,Rent,Electricity,Internet,Atmos,Rent,Electricity,Internet,Atmos
1,The Villas at Beavers Creek,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4142(Lease start 8/1/2023 - 7/31/2025) NEPALI,NEP,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,72.37,58.03,1815.92,146.95,79,164.7,1812.24,NaN,NaN,NaN
3,4064 (Lease start 8/14/2023 - 8/31/2025),IND,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,72.37,81.36,1770,151.27,79,120.95,1770,NaN,NaN,NaN
4,4076 (Lease start 10/13/2023 - 11/30/2025),IND,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,72.37,70,2020.92,150.49,79,NaN,2117.24,NaN,NaN,NaN
5,4050(10/6/2023 - 11/1/2024),NEP,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4004 (Lease start 1/5/2024 - 1/31/2025),IND,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,72.37,300.32,1840.92,194.03,79,87.02,0,NaN,NaN,NaN
7,3088 (Lease start 1/22/2024 - 1/31/2025) NEPALI,NEP,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,72.37,151.41,1890.92,151.61,79,63.69,0,NaN,NaN,NaN
8,4084 (Lease start 7/1/2024 - 5/31/2025),IND,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,72.37,161.63,2442.7,160.56,80.41,584.55,2438.79,NaN,NaN,NaN
9,2156 (Lease start 10/1/2024 - 10/31/2025) NEPALI,NEP,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,72.37,36.28,2309.68,251.8,79,36.28,2338.9,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Las Colinas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,3877 (7/1/2024 - 6/30/2024),IND,1868.88,NaN,NaN,NaN,1868.88,NaN,NaN,NaN,...,72.37,0,1922.22,198.37,80.41,0,1921.41,NaN,NaN,NaN
13,4009 (Lease start 1/9/2024 - 3/1/2025),IND,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,72.37,0,2788.92,264.05,80.41,0,2987.27,NaN,NaN,NaN
14,4277(Lease start 3/1/2024 - 3/31/2025),IND,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,72.37,0,1918.08,285.82,80.41,0,1917.27,NaN,NaN,NaN
15,3827(Lease start 7/15/2024 - 6/14/2025),IND,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,72.37,0,2185.27,415.89,143.27(2 months),0,2184.46,NaN,NaN,NaN
16,4311(Lease start 7/1/2024 - 6/30/2025),NEP,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,72.37,0,2203.69,0,123.66,0,2202.14,NaN,NaN,NaN
17,4117(7/1/2023 - 7/16/2024),NEP,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"4389 (7/15/2023 - 7/16/2024, Redshift)",IND,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,426 (Lease end 4/30/2024),IND,1958.01,NaN,NaN,NaN,1958.01,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,4261 (Lease end 1/10/2024),IND,2076.36,NaN,NaN,NaN,2076.36,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,4135 (Lease end 9/30/2023),NEP,1837.99,NaN,NaN,NaN,1837.99,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,4207(Lease end 6/30/2023),NEP,1886,NaN,NaN,NaN,1886,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,4409 (Lease end 6/28/2023),NEP,1850,NaN,NaN,NaN,1850,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NEP monthly rent totals,NEP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NEP monthly Utilities totals,NEP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,"NEP Quaterly rent totals (Q1, Q2, Q3, Q4)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,IND monthly rent totals,IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,IND monthly Utilities totals,IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Monthly Total Rent,NaN,11477.24,NaN,NaN,NaN,11477.24,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Monthly Total Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NEP 2024 Q1 Rent + Utilities,NaN,334795.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NEP 2024 Q2 Rent + Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NEP 2024 Q3 Rent + Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NEP 2024 Q4 Rent + Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,IND 2024 Q1 Rent + Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,IND 2024 Q2 Rent + Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,IND 2024 Q3 Rent + Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,IND 2024 Q4 Rent + Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
df1.dropna(how='all', axis=0, inplace=True)

In [56]:
df1.dropna(how='all', axis=1, inplace=True)

In [57]:
df1.reset_index(drop=True, inplace=True)

In [58]:
df1.head()

,APT,NEP/IND,2023-04-01 00:00:00,Unnamed: 3,Unnamed: 4,Unnamed: 5,2023-05-01 00:00:00,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 84,Unnamed: 85,2025-01-01 00:00:00,Unnamed: 87,Unnamed: 88,Unnamed: 89,2025-02-01 00:00:00,Unnamed: 91,Unnamed: 92,Unnamed: 93
0,NaN,NaN,Rent,Electricity,Internet,Atmos,Rent,Electricity,Internet,Atmos,...,Internet,Atmos,Rent,Electricity,Internet,Atmos,Rent,Electricity,Internet,Atmos
1,The Villas at Beavers Creek,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4142(Lease start 8/1/2023 - 7/31/2025) NEPALI,NEP,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,72.37,58.03,1815.92,146.95,79,164.7,1812.24,NaN,NaN,NaN
3,4064 (Lease start 8/14/2023 - 8/31/2025),IND,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,72.37,81.36,1770,151.27,79,120.95,1770,NaN,NaN,NaN
4,4076 (Lease start 10/13/2023 - 11/30/2025),IND,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,72.37,70,2020.92,150.49,79,NaN,2117.24,NaN,NaN,NaN

In [59]:
df1.columns = ["Apartment", "Tenant Type"] + list(df1.columns[2:])

In [60]:
df1

,Apartment,Tenant Type,2023-04-01 00:00:00,Unnamed: 3,Unnamed: 4,Unnamed: 5,2023-05-01 00:00:00,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 84,Unnamed: 85,2025-01-01 00:00:00,Unnamed: 87,Unnamed: 88,Unnamed: 89,2025-02-01 00:00:00,Unnamed: 91,Unnamed: 92,Unnamed: 93
0,NaN,NaN,Rent,Electricity,Internet,Atmos,Rent,Electricity,Internet,Atmos,...,Internet,Atmos,Rent,Electricity,Internet,Atmos,Rent,Electricity,Internet,Atmos
1,The Villas at Beavers Creek,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4142(Lease start 8/1/2023 - 7/31/2025) NEPALI,NEP,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,72.37,58.03,1815.92,146.95,79,164.7,1812.24,NaN,NaN,NaN
3,4064 (Lease start 8/14/2023 - 8/31/2025),IND,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,72.37,81.36,1770,151.27,79,120.95,1770,NaN,NaN,NaN
4,4076 (Lease start 10/13/2023 - 11/30/2025),IND,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,72.37,70,2020.92,150.49,79,NaN,2117.24,NaN,NaN,NaN
5,4050(10/6/2023 - 11/1/2024),NEP,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4004 (Lease start 1/5/2024 - 1/31/2025),IND,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,72.37,300.32,1840.92,194.03,79,87.02,0,NaN,NaN,NaN
7,3088 (Lease start 1/22/2024 - 1/31/2025) NEPALI,NEP,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,72.37,151.41,1890.92,151.61,79,63.69,0,NaN,NaN,NaN
8,4084 (Lease start 7/1/2024 - 5/31/2025),IND,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,72.37,161.63,2442.7,160.56,80.41,584.55,2438.79,NaN,NaN,NaN
9,2156 (Lease start 10/1/2024 - 10/31/2025) NEPALI,NEP,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,72.37,36.28,2309.68,251.8,79,36.28,2338.9,NaN,NaN,NaN
10,Las Colinas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,3877 (7/1/2024 - 6/30/2024),IND,1868.88,NaN,NaN,NaN,1868.88,NaN,NaN,NaN,...,72.37,0,1922.22,198.37,80.41,0,1921.41,NaN,NaN,NaN
12,4009 (Lease start 1/9/2024 - 3/1/2025),IND,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,72.37,0,2788.92,264.05,80.41,0,2987.27,NaN,NaN,NaN
13,4277(Lease start 3/1/2024 - 3/31/2025),IND,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,72.37,0,1918.08,285.82,80.41,0,1917.27,NaN,NaN,NaN
14,3827(Lease start 7/15/2024 - 6/14/2025),IND,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,72.37,0,2185.27,415.89,143.27(2 months),0,2184.46,NaN,NaN,NaN
15,4311(Lease start 7/1/2024 - 6/30/2025),NEP,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,72.37,0,2203.69,0,123.66,0,2202.14,NaN,NaN,NaN
16,4117(7/1/2023 - 7/16/2024),NEP,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"4389 (7/15/2023 - 7/16/2024, Redshift)",IND,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,426 (Lease end 4/30/2024),IND,1958.01,NaN,NaN,NaN,1958.01,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,4261 (Lease end 1/10/2024),IND,2076.36,NaN,NaN,NaN,2076.36,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,4135 (Lease end 9/30/2023),NEP,1837.99,NaN,NaN,NaN,1837.99,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,4207(Lease end 6/30/2023),NEP,1886,NaN,NaN,NaN,1886,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,4409 (Lease end 6/28/2023),NEP,1850,NaN,NaN,NaN,1850,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NEP monthly rent totals,NEP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NEP monthly Utilities totals,NEP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,"NEP Quaterly rent totals (Q1, Q2, Q3, Q4)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,IND monthly rent totals,IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,IND monthly Utilities totals,IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Monthly Total Rent,NaN,11477.24,NaN,NaN,NaN,11477.24,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Monthly Total Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NEP 2024 Q1 Rent + Utilities,NaN,334795.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NEP 2024 Q2 Rent + Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NEP 2024 Q3 Rent + Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NEP 2024 Q4 Rent + Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,IND 2024 Q1 Rent + Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,IND 2024 Q2 Rent + Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,IND 2024 Q3 Rent + Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,IND 2024 Q4 Rent + Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
df1["Apartment"].fillna(method="ffill", inplace=True)

In [42]:
df1

,Apartment,Tenant Type,2023-04-01 00:00:00,Unnamed: 3,Unnamed: 4,Unnamed: 5,2023-05-01 00:00:00,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 84,Unnamed: 85,2025-01-01 00:00:00,Unnamed: 87,Unnamed: 88,Unnamed: 89,2025-02-01 00:00:00,Unnamed: 91,Unnamed: 92,Unnamed: 93
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,The Villas at Beavers Creek,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4142(Lease start 8/1/2023 - 7/31/2025) NEPALI,NEP,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,72.37,58.03,1815.92,146.95,79.00,164.70,1812.24,NaN,NaN,NaN
3,4064 (Lease start 8/14/2023 - 8/31/2025),IND,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,72.37,81.36,1770.00,151.27,79.00,120.95,1770.00,NaN,NaN,NaN
4,4076 (Lease start 10/13/2023 - 11/30/2025),IND,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,72.37,70.00,2020.92,150.49,79.00,NaN,2117.24,NaN,NaN,NaN
5,4050(10/6/2023 - 11/1/2024),NEP,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4004 (Lease start 1/5/2024 - 1/31/2025),IND,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,72.37,300.32,1840.92,194.03,79.00,87.02,0.00,NaN,NaN,NaN
7,3088 (Lease start 1/22/2024 - 1/31/2025) NEPALI,NEP,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,72.37,151.41,1890.92,151.61,79.00,63.69,0.00,NaN,NaN,NaN
8,4084 (Lease start 7/1/2024 - 5/31/2025),IND,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,72.37,161.63,2442.70,160.56,80.41,584.55,2438.79,NaN,NaN,NaN
9,2156 (Lease start 10/1/2024 - 10/31/2025) NEPALI,NEP,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,72.37,36.28,2309.68,251.80,79.00,36.28,2338.90,NaN,NaN,NaN
10,Las Colinas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,3877 (7/1/2024 - 6/30/2024),IND,1868.88,NaN,NaN,NaN,1868.88,NaN,NaN,NaN,...,72.37,0.00,1922.22,198.37,80.41,0.00,1921.41,NaN,NaN,NaN
12,4009 (Lease start 1/9/2024 - 3/1/2025),IND,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,72.37,0.00,2788.92,264.05,80.41,0.00,2987.27,NaN,NaN,NaN
13,4277(Lease start 3/1/2024 - 3/31/2025),IND,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,72.37,0.00,1918.08,285.82,80.41,0.00,1917.27,NaN,NaN,NaN
14,3827(Lease start 7/15/2024 - 6/14/2025),IND,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,72.37,0.00,2185.27,415.89,NaN,0.00,2184.46,NaN,NaN,NaN
15,4311(Lease start 7/1/2024 - 6/30/2025),NEP,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,72.37,0.00,2203.69,0.00,123.66,0.00,2202.14,NaN,NaN,NaN
16,4117(7/1/2023 - 7/16/2024),NEP,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"4389 (7/15/2023 - 7/16/2024, Redshift)",IND,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,426 (Lease end 4/30/2024),IND,1958.01,NaN,NaN,NaN,1958.01,NaN,NaN,NaN,...,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,4261 (Lease end 1/10/2024),IND,2076.36,NaN,NaN,NaN,2076.36,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,4135 (Lease end 9/30/2023),NEP,1837.99,NaN,NaN,NaN,1837.99,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,4207(Lease end 6/30/2023),NEP,1886.00,NaN,NaN,NaN,1886.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,4409 (Lease end 6/28/2023),NEP,1850.00,NaN,NaN,NaN,1850.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NEP monthly rent totals,NEP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NEP monthly Utilities totals,NEP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,"NEP Quaterly rent totals (Q1, Q2, Q3, Q4)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,IND monthly rent totals,IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,IND monthly Utilities totals,IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Monthly Total Rent,NaN,11477.24,NaN,NaN,NaN,11477.24,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Monthly Total Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NEP 2024 Q1 Rent + Utilities,NaN,334795.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NEP 2024 Q2 Rent + Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NEP 2024 Q3 Rent + Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NEP 2024 Q4 Rent + Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,IND 2024 Q1 Rent + Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,IND 2024 Q2 Rent + Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,IND 2024 Q3 Rent + Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,IND 2024 Q4 Rent + Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
for col in df1.columns[2:]:
    df1[col] = pd.to_numeric(df1[col], errors="coerce")

In [63]:
df1

,Apartment,Tenant Type,2023-04-01 00:00:00,Unnamed: 3,Unnamed: 4,Unnamed: 5,2023-05-01 00:00:00,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 84,Unnamed: 85,2025-01-01 00:00:00,Unnamed: 87,Unnamed: 88,Unnamed: 89,2025-02-01 00:00:00,Unnamed: 91,Unnamed: 92,Unnamed: 93
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,The Villas at Beavers Creek,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4142(Lease start 8/1/2023 - 7/31/2025) NEPALI,NEP,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,72.37,58.03,1815.92,146.95,79.00,164.70,1812.24,NaN,NaN,NaN
3,4064 (Lease start 8/14/2023 - 8/31/2025),IND,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,72.37,81.36,1770.00,151.27,79.00,120.95,1770.00,NaN,NaN,NaN
4,4076 (Lease start 10/13/2023 - 11/30/2025),IND,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,72.37,70.00,2020.92,150.49,79.00,NaN,2117.24,NaN,NaN,NaN
5,4050(10/6/2023 - 11/1/2024),NEP,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4004 (Lease start 1/5/2024 - 1/31/2025),IND,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,72.37,300.32,1840.92,194.03,79.00,87.02,0.00,NaN,NaN,NaN
7,3088 (Lease start 1/22/2024 - 1/31/2025) NEPALI,NEP,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,72.37,151.41,1890.92,151.61,79.00,63.69,0.00,NaN,NaN,NaN
8,4084 (Lease start 7/1/2024 - 5/31/2025),IND,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,72.37,161.63,2442.70,160.56,80.41,584.55,2438.79,NaN,NaN,NaN
9,2156 (Lease start 10/1/2024 - 10/31/2025) NEPALI,NEP,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,72.37,36.28,2309.68,251.80,79.00,36.28,2338.90,NaN,NaN,NaN
10,Las Colinas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,3877 (7/1/2024 - 6/30/2024),IND,1868.88,NaN,NaN,NaN,1868.88,NaN,NaN,NaN,...,72.37,0.00,1922.22,198.37,80.41,0.00,1921.41,NaN,NaN,NaN
12,4009 (Lease start 1/9/2024 - 3/1/2025),IND,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,72.37,0.00,2788.92,264.05,80.41,0.00,2987.27,NaN,NaN,NaN
13,4277(Lease start 3/1/2024 - 3/31/2025),IND,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,72.37,0.00,1918.08,285.82,80.41,0.00,1917.27,NaN,NaN,NaN
14,3827(Lease start 7/15/2024 - 6/14/2025),IND,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,72.37,0.00,2185.27,415.89,NaN,0.00,2184.46,NaN,NaN,NaN
15,4311(Lease start 7/1/2024 - 6/30/2025),NEP,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,72.37,0.00,2203.69,0.00,123.66,0.00,2202.14,NaN,NaN,NaN
16,4117(7/1/2023 - 7/16/2024),NEP,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"4389 (7/15/2023 - 7/16/2024, Redshift)",IND,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,426 (Lease end 4/30/2024),IND,1958.01,NaN,NaN,NaN,1958.01,NaN,NaN,NaN,...,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,4261 (Lease end 1/10/2024),IND,2076.36,NaN,NaN,NaN,2076.36,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,4135 (Lease end 9/30/2023),NEP,1837.99,NaN,NaN,NaN,1837.99,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,4207(Lease end 6/30/2023),NEP,1886.00,NaN,NaN,NaN,1886.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,4409 (Lease end 6/28/2023),NEP,1850.00,NaN,NaN,NaN,1850.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NEP monthly rent totals,NEP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NEP monthly Utilities totals,NEP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,"NEP Quaterly rent totals (Q1, Q2, Q3, Q4)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,IND monthly rent totals,IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,IND monthly Utilities totals,IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Monthly Total Rent,NaN,11477.24,NaN,NaN,NaN,11477.24,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Monthly Total Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NEP 2024 Q1 Rent + Utilities,NaN,334795.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NEP 2024 Q2 Rent + Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NEP 2024 Q3 Rent + Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NEP 2024 Q4 Rent + Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,IND 2024 Q1 Rent + Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,IND 2024 Q2 Rent + Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,IND 2024 Q3 Rent + Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,IND 2024 Q4 Rent + Utilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:

df_long = df1.melt(id_vars=["Apartment", "Tenant Type"], var_name="Date_Expense", value_name="Amount")

In [51]:
df_long

Empty DataFrame
Columns: [Apartment, Tenant Type, Amount, Date, Expense Type]
Index: []

In [65]:
df_long["Date"] = pd.to_datetime(df_long["Date_Expense"].str.extract(r'(\d{4}-\d{2}-\d{2})')[0])

In [66]:

df_long

,Apartment,Tenant Type,Date_Expense,Amount,Date
0,NaN,NaN,2023-04-01 00:00:00,NaN,NaT
1,The Villas at Beavers Creek,NaN,2023-04-01 00:00:00,NaN,NaT
2,4142(Lease start 8/1/2023 - 7/31/2025) NEPALI,NEP,2023-04-01 00:00:00,0.0,NaT
3,4064 (Lease start 8/14/2023 - 8/31/2025),IND,2023-04-01 00:00:00,0.0,NaT
4,4076 (Lease start 10/13/2023 - 11/30/2025),IND,2023-04-01 00:00:00,0.0,NaT
...,...,...,...,...,...
3491,NEP 2024 Q4 Rent + Utilities,NaN,Unnamed: 93,NaN,NaT
3492,IND 2024 Q1 Rent + Utilities,NaN,Unnamed: 93,NaN,NaT
3493,IND 2024 Q2 Rent + Utilities,NaN,Unnamed: 93,NaN,NaT
3494,IND 2024 Q3 Rent + Utilities,NaN,Unnamed: 93,NaN,NaT
3495,IND 2024 Q4 Rent + Utilities,NaN,Unnamed: 93,NaN,NaT

In [67]:
df_long["Expense Type"] = df_long["Date_Expense"].str.extract(r'([A-Za-z]+)$')[0]

In [68]:

df_long

,Apartment,Tenant Type,Date_Expense,Amount,Date,Expense Type
0,NaN,NaN,2023-04-01 00:00:00,NaN,NaT,NaN
1,The Villas at Beavers Creek,NaN,2023-04-01 00:00:00,NaN,NaT,NaN
2,4142(Lease start 8/1/2023 - 7/31/2025) NEPALI,NEP,2023-04-01 00:00:00,0.0,NaT,NaN
3,4064 (Lease start 8/14/2023 - 8/31/2025),IND,2023-04-01 00:00:00,0.0,NaT,NaN
4,4076 (Lease start 10/13/2023 - 11/30/2025),IND,2023-04-01 00:00:00,0.0,NaT,NaN
...,...,...,...,...,...,...
3491,NEP 2024 Q4 Rent + Utilities,NaN,Unnamed: 93,NaN,NaT,NaN
3492,IND 2024 Q1 Rent + Utilities,NaN,Unnamed: 93,NaN,NaT,NaN
3493,IND 2024 Q2 Rent + Utilities,NaN,Unnamed: 93,NaN,NaT,NaN
3494,IND 2024 Q3 Rent + Utilities,NaN,Unnamed: 93,NaN,NaT,NaN
3495,IND 2024 Q4 Rent + Utilities,NaN,Unnamed: 93,NaN,NaT,NaN

In [69]:
df_long.drop(columns=["Date_Expense"], inplace=True)

In [70]:

df_long

,Apartment,Tenant Type,Amount,Date,Expense Type
0,NaN,NaN,NaN,NaT,NaN
1,The Villas at Beavers Creek,NaN,NaN,NaT,NaN
2,4142(Lease start 8/1/2023 - 7/31/2025) NEPALI,NEP,0.0,NaT,NaN
3,4064 (Lease start 8/14/2023 - 8/31/2025),IND,0.0,NaT,NaN
4,4076 (Lease start 10/13/2023 - 11/30/2025),IND,0.0,NaT,NaN
...,...,...,...,...,...
3491,NEP 2024 Q4 Rent + Utilities,NaN,NaN,NaT,NaN
3492,IND 2024 Q1 Rent + Utilities,NaN,NaN,NaT,NaN
3493,IND 2024 Q2 Rent + Utilities,NaN,NaN,NaT,NaN
3494,IND 2024 Q3 Rent + Utilities,NaN,NaN,NaT,NaN
3495,IND 2024 Q4 Rent + Utilities,NaN,NaN,NaT,NaN

In [80]:
df_long.dropna(subset=["Date", "Expense Type"], inplace=True)

In [81]:

df_long

Empty DataFrame
Columns: [Apartment, Tenant Type, Amount, Date, Expense Type]
Index: []

In [74]:
df_long["Amount"] = pd.to_numeric(df_long["Amount"], errors="coerce")

In [75]:

df_long

Empty DataFrame
Columns: [Apartment, Tenant Type, Amount, Date, Expense Type]
Index: []

In [77]:
df_long.to_excel("Cleaned_CG_Accommodation_Expense.xlsx", index=False)

In [78]:
print("Data cleaning and transformation completed. Saved as 'Cleaned_CG_Accommodation_Expense.xlsx'.")

Data cleaning and transformation completed. Saved as 'Cleaned_CG_Accommodation_Expense.xlsx'.

In [79]:
df_long.head(5)

Empty DataFrame
Columns: [Apartment, Tenant Type, Amount, Date, Expense Type]
Index: []

In [38]:
pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\pravasis dhakal\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: openpyxl in c:\users\pravasis dhakal\anaconda3\lib\site-packages (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\users\pravasis dhakal\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\pravasis dhakal\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\pravasis dhakal\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: et-xmlfile in c:\users\pravasis dhakal\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\pravasis dhakal\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [40]:
df_long

Empty DataFrame
Columns: [Apartment, Tenant Type, Amount, Date, Expense Type]
Index: []